body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url('https://img2.imgtp.com/2024/04/04/LbEVxYFP.jpg'); /* 替换为您的光影背景图片URL */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* 使背景图固定不动 */
}

header {
  padding: 100px 0;
  text-align: center;
  color: white;
}

header h1 {
  margin: 0;
}

main {
  background-color: rgba(255, 255, 255, 0.8); /* 半透明背景 */
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

footer {
  background-color: rgba(0, 0, 0, 0.7); /* 半透明背景 */
  padding: 20px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
